#container
{
    position:relative; 
    margin-top:0px; 
    margin-right:auto; 
    margin-bottom:0px; 
    margin-left:auto; 
    width:900px; 
    height:650px; 
}

#topo
{
    width:900px; 
    height:200px; 
    background-image:url(../html/banner_loja.jpg);
    background-position: center;
    background-repeat:no-repeat;
}

#menu {
    width: 600px;
    height: 40px;
    background-color: #A0522D;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
}

#menu div {
    text-align: center;
}

#menu a {
    font-family: Tahoma;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

#menu a:hover {
    color: #000000;
}

#conteudo
{
    width:898px;
    min-height:300px; 
    border:1px solid #000;
    background-color: #fff9ec;
    overflow:hidden; 
}
.caixa1
{
    width:270px;
    min-height:300px;
    float:left;
    margin:5px 10px 5px 20px;
}
.caixa2
{
    width:270px;
    min-height:300px;
    float:left;
    margin:5px 10px 5px 10px;
}
.caixa3
{
    width:270px;
    min-height:300px;
    float:left;
    margin:5px 10px 5px 15px;
}

.imagem1 {
    width: 200px;
    float: left;
    margin: 0 15px;
    height: auto;

}
.imagem2 {
    width: 150px;
    float: none;
    margin: 0 auto;
    height: auto;
}

#rodape
{
    width:880px;
    height:45px;
    background-color: #A0522D;
    padding:10px 10px 10px 10px;
}

p
{
    font-family:Arial;
    font-size:14px;
    margin-top:10px;
    margin-bottom:10px;
    text-align:justify;
    text-indent:20px; 
}

h2
{
    font-family:"Garamond";
    font-size:18px;
    color: #800000;
    font-stretch:semi-expanded;
}
h3
{
    font-family:Helvetica;
    font-size:13px;
    text-align:center;
    color:#000;
    font-style:italic;
}
